
<h1>Your recipes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
    <tr>
  </thead>
  <tbody>
    <tr>
      <% @user.recipes.each do |user_recipe| %>
        <td>
          <%= link_to user_recipe.title, recipe_path(user_recipe) %>
        </td>
      <%end%>
    </tr>
  </tbody>

</table>
