<% if @current_role == "admin" %>
<%= link_to "Admin: create new user", new_user_path %>
<% end %>
<h1>All Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <!-- <th>Last name</th> -->
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @users.each do |user| %>
      <td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %> </td>
      <td><%= user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
