@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Quicksand:400,700|Bree+Serif);

// font-family: 'Poiret One', cursive;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Bree Serif', serif;

body{
  background-image: image-url('restaurant_icons.png');
  font-family: 'Quicksand', sans-serif;
  font-size: 14pt;
}
.wrapper{
  margin: 50px 20% 0;
  height: 1500px;
  background-color:white;
  opacity: .7;
  border-left: 5px solid #B7250E;
  border-right: 5px solid #B7250E;
}
.navbar-brand{
  font-family: 'Bree Serif', serif;
  font-size: 18pt;
}
.navbar-default .navbar-brand{
  color: #B7250E;
}
.navbar-default .navbar-brand:hover{
  color:#777;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #B7250E;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover{
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

footer {
  background-color: #e7e7e7;
  position: relative;
  color: #B7250E;
  padding: 10px;
}

.footer{
  text-align:center;
}

.page-header h1 {
  text-align:center;
}
.action {
  text-align:center;
}

.btn-primary{
  background-color:#B7250E;
  border-color:#B7250E;
  padding: 14px 30px;
}
.btn-primary:hover{
  background-color:#B7250E;
  border-color:#B7250E;
}
